/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/storage/debugbar/X26c45a86e178e3e93f9730705b845edf.json
/storage/debugbar/X35147f761db9522a78209085b745c556.json
